/* Tổng thể giỏ hàng */
.shoppingCart {
  padding: 80px;
  max-width: 1240px;
  width: 100%;

  font-family: Arial, sans-serif;
  margin: 0 auto;
  background-color: #f9f9f9;
  /* margin-top: 80px; */
}

/* Tiêu đề của giỏ hàng */
.sectionTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Container của từng sản phẩm */
.productContainer {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f9f9f9;
}

.productRow {
  display: flex;
  justify-content: space-between;
  /* Chia đều các phần tử */
  align-items: center;
  /* Căn giữa các phần tử theo chiều dọc */
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.productInfo {
  display: flex;
  align-items: center;
  flex: 2;
  /* Tăng độ rộng để chứa tên và hình ảnh */
}

.productName {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}

.productBrand,
.productCategory {
  font-size: 14px;
  color: #666;
}

.storeName {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.productImage {
  /* Tăng kích thước hình ảnh để rõ hơn */
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
}

.productDetails {
  flex-grow: 1;
  /* Chiếm không gian còn lại */
}

.productPricing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  /* Đặt cố định độ rộng cho cột giá */
}

.productPricing p {
  margin: 5px 0;
  /* Tạo khoảng cách giữa các dòng giá */
}


.productTotal {
  font-weight: bold;
  color: #4260fc;
}

/* Container tổng tiền */
.container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.details {
  margin-bottom: 20px;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.finalTotal {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  color: #4260fc;
}

.checkoutButton {
  width: 100%;
  padding: 10px;
  background-color: #4260fc;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.checkoutButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.productCheckbox {
  width: 25px;
  height: 25px;
  appearance: none;
  /* Tắt kiểu mặc định */
  border: 2px solid #333;
  /* Đặt viền cho checkbox */
  border-radius: 5px;
  /* Bo góc của checkbox */
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
  margin-right: 15px;
  /* Tạo khoảng cách giữa checkbox và hình ảnh */
}

.productCheckbox:checked {
  background-color: #4260fc;
  /* Màu nền khi checkbox được chọn */
  border-color: #4260fc;
  /* Màu viền khi checkbox được chọn */
}

.productCheckbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 5px;
  border: solid white;
  border-width: 0 0 2px 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center center;
  transition: transform 0.3s ease;

}

.deleteButton {
  background-color: #4260fc;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 30px;
}

.deleteButton:hover {
  background-color: #4260fc;
}