.addressSection {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1240px;
  overflow: hidden;
  font-family: Lato, sans-serif;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 50px;
}

.sectionTitle {
  color: #333;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 20px;
}

.addressInfo {
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 20px;
  gap: 20px;
  overflow: hidden;
  font-weight: 400;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1240px;
  padding: 25px 30px;
  border-radius: 8px;
}

.userDetails {
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

.addressDetails {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  max-width: 1000px;
  width: 100%;
}

.addressText {
  color: #333;
  font-size: 18px;
  letter-spacing: -0.5px;
  flex-grow: 1;
  text-align: center;
}

.defaultTag {
  background-color: #fff;
  color: #4260fc;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #4260fc;
  border-radius: 4px;
  height: 30px;
}

.changeButton {
  color: #f00;
  line-height: 16px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: color 0.3s;
}

.changeButton:hover {
  color: #d00;
}

@media (max-width: 991px) {
  .addressSection {
    max-width: 100%;
    margin-top: 30px;
  }

  .sectionTitle {
    margin-bottom: 15px;
  }

  .addressInfo {
    padding: 20px;
  }

  .addressDetails {
    max-width: 100%;
  }
}

.addressButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.addressButton:hover {
  background-color: #45a049;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

button {
  margin-top: 10px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.addressOptionButton {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.addressOptionButton:hover {
  background-color: #0056b3;
}

.modalContent button:last-child {
  background-color: #f44336;
  color: white;
  width: 100%;
}